*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #2ae0f8, #e42ce4);
    padding: 10px;
}
.information{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
