/* Color Palette */

:root {
  --palette-backgorund-body: #0f1115;
  --palette-background-main: #1a1d23;
  --palette-blue: #00c6ff;
  --palette-white: #e4e6eb;
}

/* CSS Reset */

* {
  box-sizing: border-box;
}

/* Wrapper */

.wrapper {
  max-inline-size: 75vw;
  margin-inline: auto;
}

/* Main */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background: var(--palette-backgorund-body);
  color: var(--palette-white);
  text-align: left;
}

main {
  padding: 2rem;
  border-radius: 20px;
}

h1 {
  font-size: 2.2rem;
  color: var(--palette-blue);
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-out;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  padding: 0;
  gap: 5vw;
  font-size: 1.8rem;
}

nav li {
  list-style-type: none;
}

main {
  background: var(--palette-background-main);
  transition: transform 0.3s ease-out;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

footer {
  padding-top: 1rem;
}

/* Images */

img {
  width: 220px;
  height: 220px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--palette-blue);
}

/* Lists */

ul {
  list-style-type: circle;
}

li {
  list-style: disc;
  padding: 1.5px
}

li::marker {
  color: var(--palette-blue);
}


/* Links */
a {
  color: var(--palette-blue);
}


/* Hover Effect */
header:hover{
  transform: scale(1.02);
}

main:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 8px rgba(0,0,0,0.25);
}

@media screen and (max-width: 738px) {
  .wrapper {
    max-inline-size: 100vw;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  main {
    padding: 1rem;
  }

  nav ul {
    gap: 5rem;
    font-size: 1.5rem;
  }
}